{% extends 'base.html' %}
{% block content %}
<div class="container mt-5">
    <h2>Lista de Fornecedores</h2>
    <div class="center">
        <table class="table table-striped">
            <thead class="table-dark">
                <tr>
                    <th>Nome</th>
                    <th>Contato</th>
                    <th>Endereço</th>
                </tr>
            </thead>
            <tbody>
                {% for fornecedor in fornecedores %}
                <tr>
                    <td><a href="{% url 'fornecedores_detail' fornecedor.id %}">{{ fornecedor.nome }}</a></td>
                    <td>{{ fornecedor.contato|default:"-" }}</td>
                    <td>{{ fornecedor.endereco|default:"-" }}</td>
                    
                </tr>
                {% empty %}
                <tr>
                    <td colspan="4" class="text-center">Nenhum fornecedor cadastrado.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="{% url 'fornecedores_create' %}" class="btn btn-outline-success">Adicionar Novo Fornecedor</a>
    </div>
</div>
{% endblock %}
